.accordion-animation-1[data-state='open'] {
  animation: 500ms cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal forwards
    accordion-open;
}

.accordion-animation-1[data-state='closed'] {
  animation: 500ms cubic-bezier(0.87, 0, 0.13, 1) 0s 1 normal forwards
    accordion-close;
}

.sheet::backdrop {
  background: hsla(0, 0%, 0%, 0.5);
}

.sheet {
  animation: sheetOpen 0.75s forwards cubic-bezier(0.6, 0.6, 0, 1);
}

.sheet::backdrop {
  animation: sheetFadeIn 0.75s forwards cubic-bezier(0.6, 0.6, 0, 1);
}

.sheet.modal-closing {
  animation: sheetClose 0.35s forwards cubic-bezier(0.6, 0.6, 0, 1);
}

.sheet.modal-closing::backdrop {
  animation: sheetFadeOut 0.35s forwards cubic-bezier(0.6, 0.6, 0, 1);
}

@keyframes sheetOpen {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes sheetClose {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes sheetFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes sheetFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
