.desktop-menu-opacity-transition {
  transition:
    opacity 0.5s,
    display 0.5s,
    overlay 0.5s;

  transition-behavior: allow-discrete;

  opacity: 0;
}

.popover-showing {
  opacity: 1;
}

.popover-closing {
  opacity: 0;
}
