@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 219deg;
  inherits: false;
}
​:root {
  --bronze: rgba(163, 112, 0, 1);
  --silber: rgba(163, 163, 163, 1);
  --gold: rgba(179, 171, 0, 1);
}
​* {
  box-sizing: border-box;
}

/* ​html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #080808;
  width: 100vw;
  height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
} */
.card {
  padding: 2rem;
  border-radius: 2rem;
  background-color: white;
  width: max-content;
}
.user-input {
  display: flex;
  gap: 2rem;
}
#slider {
  width: 40rem;
}
#count {
  font-weight: bold;
  font-size: large;
  min-width: 3rem;
  text-align: end;
}
.price-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  position: relative;
}
.pricing-tiers {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  position: relative;
  z-index: 1;
}
.heading {
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: x-large;
}
.prices {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 1rem;
}
.price {
  font-size: large;
  font-weight: bold;
  min-width: 6rem;
  text-align: end;
}
.price-card::after {
  position: absolute;
  content: '';
  inset: -0.5rem;
  border-radius: inherit;
  z-index: -1;
  --gradient-angle: 219deg;
  transition: --gradient-angle 0.2s;
}
.price-card#silber::after {
  background: linear-gradient(
    var(--gradient-angle),
    var(--silber) 43%,
    rgba(218, 218, 218, 1) 50%,
    var(--silber) 57%
  );
}
.price-card:hover::after {
  --gradient-angle: 305deg;
}
.price-card#bronze::after {
  background: linear-gradient(
    var(--gradient-angle),
    var(--bronze) 43%,
    rgb(231, 158, 0) 50%,
    var(--bronze) 57%
  );
}
.price-card#gold::after {
  background: linear-gradient(
    var(--gradient-angle),
    var(--gold) 43%,
    rgb(233, 221, 0) 50%,
    var(--gold) 57%
  );
}
#bronze > .heading {
  color: var(--bronze);
}
#silber > .heading {
  color: var(--silber);
}
#gold > .heading {
  color: var(--gold);
}
