<ng-container *transloco="let t">
  <cp-header [class.header--background-primary]="routeRecentlyClicked?.imgSrc || routeRecentlyClicked?.hasTitlePrimaryBackground">
    <div class="flow flow--xl">
      <cp-toolbar
        logoSrc="/assets/images/logo.svg"
        [logoAlt]="t('landing-page.a11y.alternative-text')"
      ></cp-toolbar>
      <cp-navigation (routeChanged)="routeRecentlyClicked = $event" [routesInternal]="routesInternal"></cp-navigation>
      <cp-page-title
        class="content"
        *ngIf="routeRecentlyClicked"
        [title]="t(routeRecentlyClicked.title)"
        [subtitle]="t(routeRecentlyClicked.subtitle)"
        [imgSrc]="routeRecentlyClicked?.imgSrc"
      ></cp-page-title>
    </div>
  </cp-header>

  <router-outlet></router-outlet>

  <cp-footer
    logoSrc="/assets/images/logo.svg"
    [logoAlt]="t('landing-page.a11y.alternative-text')"
    [routesInternal]="routesInternal"
    (routeChanged)="routeRecentlyClicked = $event"
  ></cp-footer>
  <cp-scroll-to-top-button></cp-scroll-to-top-button>
</ng-container>
