.card {
  padding: 2rem;
  border-radius: 2rem;
  background-color: white;
  width: max-content;
}

.price-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  position: relative;
}

.pricing-tiers {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.heading {
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: x-large;
}
